#develop{
    background-color: #ffffff;
    border: 1px solid #3c3c3c;
    border-radius:2px;
      -webkit-border-radius:2px;
      -moz-border-radius:2px;
      -khtml-border-radius:2px;
    color: #080808;
    cursor: pointer;
    display: none;
    left: 50%;
    margin-left: -375px;
    margin-top: -80px;
    position: fixed;
    text-align: left;
    text-shadow:none;
    top: 100%;
    z-index: 9999;
}
#develop_button{
    background-color: #ff0000;
    border: 1px solid #3c3c3c;
    border-radius:2px;
      -webkit-border-radius:2px;
      -moz-border-radius:2px;
      -khtml-border-radius:2px;
    cursor: pointer;
    margin-top: -50px;
    padding: 2px;
    position: fixed;
    top: 100%;
    z-index: 9999;
}
#develop table td{
    border: 1px solid #000000;
    border-collapse: separate;
    height: 30px;
    padding: 4px 0 0;
    text-align: center;
    width: 144px;
}
#show_classes, #show_session, #show_get, #show_post, #show_requests{
    display: none;
    left: 50%;
    height: 80%;
    margin-left: -360px;
    position: fixed;
    top: 60px;
    width: 720px;
    z-index: 10000;
}
.dp_label{
    color: #FF2222;
    font-size: 20px;
    font-weight: bold;
}
#develop #close_table{
    background: url(../img/ico/close.png);
    float: right;
    height: 20px;
    margin-top: -6px;
    width: 20px;
}
.error {
    text-align: center;
    margin: 150px auto 10px auto;
    padding-top: 20px;
    max-width: 600px;
    border: solid 2px #ff0000;
    background-color: #ffdddd;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    box-shadow: 0 0 14px #f00;
    -moz-box-shadow: 0 0 14px #f00;
    -webkit-box-shadow: 0 0 14px #f00;
}
